.root{
  background-color:white;
  width: 80%;
  height: 80vh;
}
.Taskdiv{
  background-color: rgb(23, 248, 226);
  width: 100%;
  height: 20vh;
}
.card{
  background-color: rgb(235, 236, 238);
  width: 40%;
  margin-top: -5%;
  margin-left: 30%;
  padding:  10px 0px;
  box-shadow: 0px 0px 10px  rgb(148, 144, 144);
 
}
.removeitemdiv{
  
  margin-left: 30%;
  margin-top: 2%;
}
.arrayremovebutton{
  margin-top: -5%;
  margin-left:70% ;
}
.type{
  margin-left: 30%;
}
.inputadd{
  margin-left: 30%;

}
.addbutton{
  margin-top: -5%;
  margin-left:70% ;
}
.pre{
  margin-left: 30%;
}
.sendbutton {
	pointer-events: auto;
	cursor: pointer;
	background: #8e8caf;
	border: none;
	padding: 1.5rem 3rem;
	margin-left: 37%;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
  margin-top: 6px;
  height: 10px;
  line-height: 33%;
}
.todayRoutine{
  color: #6b6b6d;
  margin-left: 10%;
  font-size: 30px;
}
.todayRoutine1{
  color: #6b6b6d;
  font-size: 15px;
  font-weight: 200;
}
.card1{
  background-color: rgb(235, 236, 238);
  width: 30%;
  margin-top: -5%;
  margin-left: 2%;
  padding:  10px 0px;
  box-shadow: 0px 0px 10px  rgb(148, 144, 144);
 
}

.card2{
  background-color: rgb(235, 236, 238);
  width: 30%;
  margin-top: -5%;
  margin-left: 34%;
  padding:  10px 0px;
  box-shadow: 0px 0px 10px  rgb(148, 144, 144);
 
}
.card3{
  background-color: rgb(235, 236, 238);
  width: 30%;
  margin-top: -5%;
  margin-left: 66%;
  padding:  10px 0px;
  box-shadow: 0px 0px 10px  rgb(148, 144, 144);
 
}